html.sr .reveal {
	visibility: hidden;
}

:root {
	--bg-black: #000000;
	--bg-blue: #14213D;
	--bg-orange: #68450D;
	--bg-occupation: #865300;
	--bg-platinum: #eceae8;
	--bg-orange-green: #866736;
	--anim-duration: 360ms;
	--bg-white: #FFFFFF;
	--bg-gray: #374151;
	--bg-gray-dark: #B0B0B0;
	--bg-gray-light: #686A6F;
	--bg-gray-light-dark: #C5C5C5;
	--bg-white-dark: #131313;
	--bg-green: #18532C;
	--track-color: var(--bg-platinum);
	--ring-offset-shadow: 0 0 #0000;
	--ring-shadow: 0 0 #0000;
	--bg-resume-gradient: linear-gradient(to right, var(--bg-orange) 0%, var(--bg-orange-green) 51%, var(--bg-green) 100%);
	--animate-delay: 0.6s;
	--animate-duration: 0.5s;
}

.border-site {
	border-color: var(--bg-black);
}

@media (max-width: 639px) {
	.label-div {
		transform: rotate(90deg);
		right: 0;
		top: 28px;
	}
}

.default-shadow {
	--shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow)
}

body {
	color: var(--bg-black);
}

.bg-platinum {
	background-color: var(--bg-platinum);
}

.bg-white-box {
	background-color: var(--bg-white);
}

.text-gray {
	color: var(--bg-gray);
}

.text-gray-light {
	color: var(--bg-gray-light);
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--bg-green);
	border: 1px solid #fcd38cb6;
	border-radius: 1rem;
	position: relative;
	transition: 0.25s;
}

::-webkit-scrollbar-track {
	width: 0.5rem;
	background-color: var(--track-color);
}

::-webkit-scrollbar-thumb:hover {
	border: 1px solid #fcd38c;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	font-family: 'Fira Code', sans-serif;
}

.bg-green {
	background-color: var(--bg-green);
}

.text-green {
	color: var(--bg-green);
}

.text-orange {
	color: var(--bg-orange)
}

.item-underline {
	display: inline-block;
	text-decoration: none;
	background-image: linear-gradient(to right, #989898, #000);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .5s ease;
}

.item-underline:hover {
	background-size: 100% 2px;
}

.logo {
	font-family: 'Raleway', sans-serif;
	background-color: line;
}

:is(h1, h2, h3, h4, h5, h6, .roboto-slab) {
	font-family: 'Roboto Slab', sans-serif;
}

h3 a {
	font-family: 'Roboto Slab', sans-serif;
}

h1 span {
	font-family: 'Roboto Slab', sans-serif;
}

.text-blue {
	color: var(--bg-blue)
}

.bg-orange {
	background-color: var(--bg-orange)
}

.out-none {
	outline: 0 !important;
}

.transition-new {
	transition-property: background-color, border-color, color, background-position, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, background-position, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, background-position, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.extended-line {
	background-size: 20% 2px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.orange-underline {
	background-image: linear-gradient(to right, var(--bg-orange-green), var(--bg-orange)) !important;
}

@media (min-width: 1024px) {
	.m-minus-l-4 {
		margin-left: -4rem;
	}

	.m-minus-r-4 {
		margin-right: -4rem;
	}
}

.reveal-elem {
	position: relative;
}

.reveal-elem::after {
	position: absolute;
	content: "";
	background-color: #bdbdbd;
	height: 1px;
	width: 23%;
	top: 25%;
	margin-left: 19px;
}

.title-h1 {
	line-height: 3.5rem !important;
}

@media (max-width: 639px) {
	.reveal-elem::after {
		display: none;
	}

	.title-h1 {
		line-height: 3rem !important;
	}
}

.social-icon:hover {
	animation-name: spin;
	animation-duration: 400ms;
	animation-iteration-count: 2;
	animation-timing-function: ease-in;
}

/* .main-site {
	height: calc(100vh - 70px);
	overflow-y: scroll;
} */
